# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VIRTUAL ENVIRONMENTS
venv/
.env/
.venv/

# ENVIRONMENT VARIABLES
.env
.env.*
ENV
.venv
venv
set*.sh

# uv
.uv/

# Logs
*.log

# FLASK FILES
instance/
.webassets-cache

# TESTING / COVERAGE / TEMP
.coverage
htmlcov/
.pytest_cache/
tmp/
temp/

# DISTRIBUTION
build/
dist/
*.egg-info/

# DEPENDENCIES
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# BUILD
build/
dist/
bin/
obj/

# LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.log

# CACHE
.cache

# USER / ID
*.user
*.suo
*.userosscache
*.sln.docstates

# PACKAGES
*.nupkg
packages/

# VS CODE / VS
.vscode/
.idea/
.vs/
.ruff_cache/

# AZURE PUBLISH
*.PublishSettings
*.azurePubxml
*.pubxml
*.publishproj

# SQL SERVER
*.mdf
*.ldf

# DATA TOOLS
*.dacpac
*.bacpac

# SECRETS
secrets.json
appsettings.*.json
!appsettings.example.json

# KEYS
*.pem
*.key
*.pfx

# CERTIFICATES
*.crt

# OS FILES
.DS_Store
Thumbs.db

# EDITOR BACKUPS
*.swp

# NEXT.JS
/.next/
/out/

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts
